# Env and secrets
.env
transportistas_sync/.env
*.env.local

# Virtual env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# SAM
.aws-sam/
packaged.yaml

# Node.js
node_modules/
npm-debug.log*
